$color: rgb(0, 0, 0);

#main > h1 {
    color: rgb(255, 255, 255);    
    text-align: center;
    font: bold;
}

  .bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1000;
  }
  