.sun {
    width: 200px;
    height: 200px;
    background-color: #ff9b3c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
    box-shadow: 
    0 0 0 20px #ff9b3c80, 
    // 0 0 0 40px #ff9b3c40, 
    0 0 0 60px #ff9b3c20, 
    0 0 0 80px #ff9b3c10, 
    0 0 0 100px #ff9b3c00,
    0 0 40px 100px #ff9b3c10;
    animation: sunrise .5s infinite linear forwards, rays 1s infinite linear;
}

@keyframes rays {
    0% {
        box-shadow: 
        0 0 0 0px #ff9b3c80, 
        0 0 0 20px #ff9b3c80, 
        // 0 0 0 40px #ff9b3c40, 
        0 0 0 60px #ff9b3c20, 
        0 0 0 80px #ff9b3c10,
        0 0 40px 100px #ff9b3c10;
    }

    100% {
        box-shadow: 
        0 0 0 20px #ff9b3c80, 
        // 0 0 0 40px #ff9b3c40, 
        0 0 0 60px #ff9b3c20, 
        0 0 0 80px #ff9b3c10, 
        0 0 0 100px #ff9b3c00,
        0 0 40px 100px #ff9b3c10;
    }
}