.sun {
    width: 200px;
    height: 200px;
    background-color: #fa4334;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
    box-shadow: 
    0 0 0 20px #fa433480, 
    // 0 0 0 40px #fa433440, 
    0 0 0 60px #fa433420, 
    0 0 0 80px #fa433410, 
    0 0 0 100px #fa433400,
    0 0 40px 100px #fa433410;
    animation: sunrise 1s infinite linear forwards, rays 1.4s infinite linear;
}

// @keyframes sunrise {
//     0% {
//         box-shadow: none;
//     }
// }

@keyframes rays {
    0% {
        box-shadow: 
        0 0 0 0px #fa433480, 
        0 0 0 20px #fa433480, 
        // 0 0 0 40px #fa433440, 
        0 0 0 60px #fa433420, 
        0 0 0 80px #fa433410,
        0 0 40px 100px #fa433410;
    }

    100% {
        box-shadow: 
        0 0 0 20px #fa433480, 
        // 0 0 0 40px #fa433440, 
        0 0 0 60px #fa433420, 
        0 0 0 80px #fa433410, 
        0 0 0 100px #fa433400,
        0 0 40px 100px #fa433410;
    }
}