#sunOne {
    background-color: #ff9b3c;
}

#sunTwo {
    background-color: #ff9b3c;
}

#sunThree {
    background-color: #ff9b3c;
}

#sunFour {
    background-color: #ff9b3c;
}

#sunFive {
    background-color: #ff9b3c;
}

#sunSix {
    background-color: #ff9b3c;
}

#sunSeven {
    background-color: #ff9b3c;
}