#sunOne {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunTwo {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunThree {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunFour {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunFive {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunSix {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}

#sunSeven {
    background-color: #ff9b3c;
    box-shadow: 0 0 5px #ff9b3c,
    0 0 20px #ff9b3c;
    text-align: center;
    cursor: pointer;
}