@import "./styles/reset.scss";
@import "./styles/example.scss";
@import "./styles/sun.scss";



.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 275px;
    padding: 20px;
    position: absolute;
    top: 175px;
    left: 750px;
    background-color: white;
    border-radius: 25px;
}

.distanceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 125px;
    padding: 10px;
    position: relative;
    top: 500px;
    left: 750px;
    background-color: white;
    border-radius: 25px;
}

.scatterData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 175px;
    left: 1125px;
    background-color: white;
    border-radius: 25px;
}