@import "./styles/reset.scss";
@import "./styles/background.scss";
@import "./styles/sun.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 275px;
    padding: 20px;
    position: absolute;
    top: 185px;
    left: 650px;
    // background-color: white;
    // background-color: whitesmoke;
    border-radius: 25px;
}

.distanceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 125px;
    padding: 10px;
    position: absolute;
    top: 510px;
    left: 650px;
    // background-color: white;
    border-radius: 25px;
}

.scatterData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 185px;
    left: 1020px;
    // background-color: white;
    border-radius: 25px;
}

.miscContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 350px;
    height: 125px;
    padding: 10px;
    position: absolute;
    top: 510px;
    left: 1190px;
    // background-color: white;
    border-radius: 25px;
}

.miscContainer ul {
    margin: 10px;
    color: white;
    font-size: 24px;
    font-style: bold;
}

.navContainer {
    position: relative;
}

.navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 50%;
    width: 700px;
    height: 75px;
    transform: translate(-50%, 50%);
    border: 2px solid white;
}

.navBox button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: white;
    margin: 0 16px;
    font-size: 24px;
    font-weight: bold;
}



#modContainer {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(4, 4, 4, 0.7);
}

#openMod {
    position: absolute;
    top: 0;
    right: 0;
}

#modal {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}