@import "./styles/reset.scss";
@import "./styles/background.scss";
@import "./styles/suns/sunO.scss";
@import "./styles/sunButtons.scss";
@import "./styles/modal.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 275px;
    padding: 20px;
    position: absolute;
    top: 185px;
    left: 600px;
    // background-color: white;
    // background-color: whitesmoke;
    border-radius: 25px;
}

.distanceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 125px;
    padding: 10px;
    position: absolute;
    top: 510px;
    left: 600px;
    // background-color: white;
    border-radius: 25px;
}

.scatterData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 185px;
    left: 970px;
    // background-color: white;
    border-radius: 25px;
}

#miscContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 350px;
    height: 125px;
    padding: 10px;
    position: absolute;
    top: 510px;
    left: 1130px;
    // background-color: white;
    border-radius: 25px;
}

#miscContainer ul {
    margin: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.navContainer {
    position: relative;
    top: 15px;
}

.navBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 50%;
    width: 700px;
    height: 75px;
    transform: translate(-50%, 50%);
    // border: 2px solid white;
}

.navBox button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: white;
    margin: 0 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

